

.loginMainDiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.loginMainDiv form{
    border: 3px solid darkblue;
    padding: 19px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px black;
}